.about-container__wrapper {
  background-color: #5e17eb;
  height: 900px;
  width: 100%;

  padding-top: 130px;
  text-align: center;
}

.about-header__text {
  color: #f3f3f3;
}

.about-paragraph__text {
  display: inline-block;
  color: #f3f3f3;
  font-size: 20px;
  width: 700px;

  padding-top: 30px;
  margin-bottom: 100px;
  letter-spacing: 1px;
}

/* -------------------------------------------------------DESCRIPTION------------------ */

.description__wrapper {
  display: flex;
  justify-content: center;
}
.description-container__wrapper {
  background-color: #f3f3f3;
  width: 850px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  margin-right: 90px;
  border-radius: 10px;
}

.description-list__wrapper {
  color: #f3f3f3;
  font-size: 20px;

  margin-right: 20px;
}
.description-list__wrapper ul {
  list-style: none;
}

.description-list__wrapper ul button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #f3f3f3;
  cursor: pointer;
}

.description-list__wrapper ul li {
  margin-top: 25px;
  letter-spacing: 1px;
}

.description-texts__wrapper {
  display: flex;
}

.description-texts__header {
  color: #202020;
  font-weight: 400;
}

.description-texts-container {
  width: 300px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0.8px;
}

.description-texts-container__after {
  opacity: 0;
  width: 300px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0.8px;
}

@keyframes opacityEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.description-texts__subheader {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.3);
  padding:0 10px;
}

.description-texts__title1 {
  font-size: 18px;
  margin-top: 30px;
  color: #5e17eb;
}

/* HOBBIES */

.hobbies-container {
  /* display: flex;
 justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(3, 284px);
  grid-template-rows: repeat(2, 225px);
  /* margin-top: 50px; */
}

.floatfloat {
  /* position: fixed;
    bottom: 0;
    left: 50%; */
  transform: translateX(-50%);
  animation: float 3s ease-in-out infinite;
  margin-top: 20px;
}

.tx {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0.8px;
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0);
  }
}
