.hero-container{
    padding-top: 50px;
}

.hamburgermenu__wrapper{
    position: absolute;
    top:15px;
    right: 20px;
}

.btn-icon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}