.project-title__wrapper{
    text-align: center;
    margin-top: 100px;
}

.project-title__text{
    font-size: 40px;
}

.project-paragraph__text{
    display: inline-block;
    color: rgba(0, 0, 0, 0.4);
    width: 500px;   
    margin-top: 30px;
}

.line-visual__wrapper{
    text-align: center;
}

.line-visual{
    width: 250px;
    height: 200px;
}



/* CONTENTS PROJECT */

.contents-container__wrapper{
    display: flex;
    height: 500px;
    width: 100%;
    padding: 10px;
    margin: 50px auto 0 auto;

    overflow-x: hidden;
}

.contents__wrapper{
    display: flex;
    width: 900px;
    height: 370px;
    border-radius: 10px;
    background-color: #5e17eb;
    margin: 50px auto 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.marLeft{
    margin-left: 10px;
}

.content-project-sumamry__wrapper{
    width: 500px;
}

.content-project_one{
    width: 500px;
    height: 370px;
    object-fit: cover;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-project-summary_one{
    color: #f3f3f3;
    padding: 10px;
}

/* BTNS POSITIONING - START */

.content-project__buttons{
    position: relative;
    bottom: -250px;
    left: 0;
}

.twoBtns{
    position: relative;
    bottom: -130px;
    left: 0;
}

.threeBtns{
    position: relative;
    bottom: -235px;
    left: 0;
}

.fourBtns{
    position: relative;
    bottom: -275px;
    left: 0;
}


.fiveBtns{
    position: relative;
    bottom: -169px;
    left: 0;
}

.sixBtns{
    position: relative;
    bottom: -275px;
    left: 0;
}

.sevenBtns{
    position: relative;
    bottom: -190px;
    left: 0;
}


/* BTNS POSITIONING - END */

.content-btn__viewproject{
    font-size: 11px;
    text-transform: uppercase;
    padding: 1px 10px;

    color: #f3f3f3;
    background-color: #5e17eb;
    border-radius: 10px;
    border: 1px solid #5e17eb;
    margin-right: 10px;
    text-decoration: none;

    cursor: pointer;
}

.content-btn__viewcode{
    font-size: 11px;
    text-transform: uppercase;
    padding: 1px 10px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #202020;

    cursor: pointer;
}


.fitImage{
    object-position: left;
}

/*  */