.nav-container__wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.contanctme__text{
    color: #f3f3f3;
    font-size: 40px;
}

.form-container{
    color: #f3f3f3;
}

.form-container label{
    font-size: 24px;
}

.form-container input{
    width: 350px;
}

.message-input{
    height: 200px;
    width: 350px;
}

.btn-container__wrapper{
    display: flex;
    justify-content: center;
}


.btn-submit{
    padding: 0 40px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #5e17eb;
    color: #f3f3f3;
    border: none;

    cursor: pointer;
    margin-top: 20px;
}

/* SENT SUCCESS-FAIL */

.success-fail__wrapper{
     margin: 0 auto;
}

.success-contact{
    opacity: 1;
    color: limegreen;
    transition: opacity 1s ease-in-out;
}

.fail-contact{
    color: red;
    animation: successFailEffect 1s ease-in;
}

.fadeout{
    opacity: 0;
    color: limegreen;
}

/*  */