.nav-container__wrapper{
    display: flex;
    justify-content: space-evenly;
}


.contactmelogo__image{
    width: 300px;
}

.contactmelogo__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.cvresumelogo__image{
    width: 300px;
}

.cvresumelogo__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}