@media(max-width: 1900px){
    /* hamburger menu ---- */
    .hamburgermenu__wrapper{
        margin-right: 30px;
    }
    /* hamburger menu ---- */
}

@media(max-width:1800px){

    /*  HERO  - START */
    .hero-image__wrapper{
        margin: 100px auto 0 auto;
    }

    .AJ-logo{
        width: 600px;
    }

    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 586px;
        right: 500px;
    }

    .hero-cartoon__image{
        width: 450px;
    }

    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 739px;
        left: 300px;
    }

    .hero-cartoon__image2{
        width: 400px;
    }


    /* HERO  - END */


    
}


@media(max-width:1600px){
    .splatter2{
        width: 500px;
    }

    .splatter3{
        width: 500px;
    }


    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 586px;
        right: 300px;
    }


    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 739px;
        left: 300px;
    }

}


@media(max-width:1400px){
    .splatter2{
        width: 450px;
    }

    .splatter3{
        width: 450px;
    }


    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 586px;
        right: 200px;
    }


    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 739px;
        left: 200px;
    }

}


@media(max-width:1300px){

    .image-splatter3{
        position: absolute;
        top:50px;
        right: 50px;
    }

    .splatter2{
        width: 400px;
    }

    .splatter3{
        width: 400px;
    }


    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 674px;
        right: 300px;
    }

    .hero-cartoon__image{
        width: 350px;
    }


    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 800px;
        left: 200px;
    }

    .hero-cartoon__image2{
        width: 300px;
    }

}


@media(max-width:1200px){

    .image-splatter2{
        position: absolute;
        top:400px;
        left: 0px;
    }

    .splatter2{
        width: 350px;
    }

    .splatter3{
        width: 400px;
    }


    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 719px;
        right: 300px;
    }

    .hero-cartoon__image{
        width: 300px;
    }


    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 830px;
        left: 200px;
    }

    .hero-cartoon__image2{
        width: 250px;
    }

}

@media(max-width:1100px){

    .image-splatter2{
        position: absolute;
        top:400px;
        left: 0px;
    }

    .splatter2{
        width: 350px;
    }

    .splatter3{
        width: 400px;
    }


    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 719px;
        right: 200px;
    }

    .hero-cartoon__image{
        width: 300px;
    }


    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 830px;
        left: 270px;
    }

    .hero-cartoon__image2{
        width: 250px;
    }


}


@media(max-width:1000px){

    .image-splatter2{
        position: absolute;
        top:500px;
        left: 0px;
    }

    .splatter2{
        width: 300px;
    }

    .image-splatter3{
        position: absolute;
        top:150px;
        right: 100px;
    }

    .splatter3{
        width: 300px;
    }


    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 719px;
        right: 150px;
    }

    .hero-cartoon__image{
        width: 300px;
    }


    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 830px;
        left: 270px;
    }

    .hero-cartoon__image2{
        width: 250px;
    }

    .hero-image__wrapper{
        margin: 170px auto 0 auto;
    }

    .AJ-logo{
        width: 500px;
    }

}




@media(max-width:991px){

    .App{
        height: 100%;
        width: 100vw;
    }

    .hero-cartoon-image__wrapper{
        position: absolute;
        top: 719px;
        right: 100px;
    }
    
    .hero-cartoon-image2__wrapper{
        position: absolute;
        top: 830px;
        left: 270px;
    }

    
    /* ADD THE MENU FOR SOCIAL MEDIAS */

}